<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
    <link rel="manifest" href="assets/site.webmanifest">
    <title>Tugas 1 Kriptografi dan Koding STI</title>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-5">Rahasiakan isi pesanmu dengan Modified RC4!</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="cipherForm" class="mt-5" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="inputType">Input Type</label>
                        <div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="inputTypeText" name="inputType" class="custom-control-input" value="text" onclick="updateFormFields()" checked>
                                <label class="custom-control-label" for="inputTypeText">Text</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="inputTypeFile" name="inputType" class="custom-control-input" value="file" onclick="updateFormFields()">
                                <label class="custom-control-label" for="inputTypeFile">File</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cipherSelect">Cipher</label>
                        <select id="cipherSelect" name="cipher" class="custom-select" required onchange="updateFormFields()">
                            <option value="modifiedrc4">Modified RC4</option>
                        </select>
                    </div>
                    <div class="form-group" id="base64FormGroup">
                    </div>
                    <div id="inputFields">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="processData(true)">Encrypt</button>
                        <button type="button" class="btn btn-secondary" onclick="processData(false)">Decrypt</button>
                    </div>
                </form>
                <div id="resultSection" class="mt-5">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" charset="UTF-8">
        document.addEventListener('DOMContentLoaded', function() {
            updateFormFields(); 
        });

        function updateFormFields() {

            const radios = document.getElementsByName('inputType');

            var type;

            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    type = radios[i].value;
                    break;
                }
            }

            const cipher = document.getElementById('cipherSelect').value;
            const base64FormGroup = document.getElementById('base64FormGroup');
            const inputFields = document.getElementById('inputFields');

            inputFields.innerHTML = '';

            base64FormGroup.style.display = (cipher === 'vigenereextended') ? 'none' : 'block';
            if (cipher === 'vigenereextended') {
                document.getElementById('base64').checked = false;
            }

            if (type === "text") {
                inputFields.innerHTML += `
                    <div class="form-group">
                        <label for="plaintext">Text</label>
                        <textarea id="plaintext" name="text" cols="40" rows="5" class="form-control" required></textarea>
                    </div>
                `;
            } else {
                inputFields.innerHTML += `
                    <div class="form-group">
                        <label for="fileInput">Filepath</label>
                        <input type="text" id="filepath" name="filepath" class="form-control" required>
                    </div>
                `;
                if (cipher === 'vigenereextended' || cipher === "modifiedrc4") {
                    inputFields.innerHTML += `
                    <div class="form-group">
                        <label for="fileInput">Destination Filepath</label>
                        <input type="text" id="destinationfilepath" name="destinationfilepath" class="form-control" required>
                    </div>
                `;
                }
            }
        
            if (['affine', 'product'].indexOf(cipher) === -1) {
                inputFields.innerHTML += `
                    <div class="form-group">
                        <label for="key">Key</label>
                        <input id="key" name="key" type="text" class="form-control" required>
                    </div>
                `;
            }

            if (cipher === 'affine') {
                inputFields.innerHTML += `
                    <div class="form-group">
                        <label for="affineM">M (Relative Prime to 26)</label>
                        <input id="affineM" name="m" type="number" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="affineB">B</label>
                        <input id="affineB" name="b" type="number" class="form-control" required>
                    </div>
                `;
            }

            if (cipher === 'modifiedrc4') {
                inputFields.innerHTML += `
                    <div class="form-group">
                        <label for="productKey">Vigenere Key</label>
                        <input id="productKey" name="vigenere_key" type="text" class="form-control" required>
                    </div>`;
            }

            if (cipher === 'product') {
                inputFields.innerHTML += `
                    <div class="form-group">
                        <label for="productKey">Vigenere Key</label>
                        <input id="productKey" name="vigenere_key" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="transpositionKey">Transposition Key (Integer)</label>
                        <input id="transpositionKey" name="transposition_key" type="number" class="form-control" required>
                    </div>
                `;
            }
        }
    </script>
    <script type="text/javascript" charset="UTF-8">
        async function processData(encrypt) {
            const form = document.getElementById('cipherForm');
            const formData = new FormData(form);
            formData.append('encrypt', encrypt); 
            
            const cipher = formData.get('cipher');
            let endpoint = `/${cipher}`;
            if (formData.get('inputType') === 'file') {
                endpoint += '/file';
            }
            if (!formData.has("base64")) {
                formData.append("base64","on");
            }
    
            let requestBody;
                requestBody = new URLSearchParams();
                for (const [key, value] of formData) {
                    requestBody.append(key, value);

                }
                
    
            try {
                const response = await fetch(endpoint, {
                        method: 'POST',
                        body: requestBody,
                    });
                
                const result = await response.json();

                console.log(response.status);
                if (response.status == 422) {
                    displayResult({ error: "Make sure that all fields are filled (correctly)!" }, encrypt);
                }  else {
                    displayResult(result, encrypt);
                }
            } catch (error) {
                console.error('Error:', error);
                displayResult({ error: "An error occurred while processing your request." }, encrypt);
            }
        }
    
        function displayResult(result, encrypt) {
            const resultSection = document.getElementById('resultSection');
            resultSection.innerHTML = ''; 
    
            let resultText = '';
            if (result.error) {
                resultText = `<p class="text-danger">${result.error}</p>`;
            } else {                
                var key = encrypt ? 'results' : 'results';
                if (result["error"] !== undefined) {
                    key = "error";
                    resultText = `<p><strong>Error:</strong> ${result[key]}</p>`;
                } else if (result["saved"] !== undefined) {
                    key = "saved";
                    resultText = `<p><strong>Result saved as</strong> ${result[key]}</p>`;
                } else {
                    resultText = `<p><strong><a href="data:text/plain;charset=utf-8,${encodeURIComponent(result[key])}" download="results.txt">${encrypt ? 'Result' : 'Plaintext'} (click to download as a .txt file):</a></strong></p><p style="word-break: break-all">${result[key]}</p>`;
                }
                
            }
            resultSection.innerHTML = resultText;
        }
    </script>    
</body>
</html>
